<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaon.mapper.AdminMapper">

<select id="selectConsultList" parameterType="int" resultType="CourseVO">
 select * from courses where academyno=#{academyNo}
</select>

<select id="selectAttendList" parameterType="hashmap" resultType="int">
select count(*) from attend where enrollno = (select enrollno from enroll where studentno=#{studentNo} and courseno=#{courseNo}) and coursedate like concat(#{string},'%')
</select>

<!-- <select id="AttendAvg" parameterType="hashmap" resultType="int"> 이렇게하면순서대로나오지만 중간에 들어온사람도 다 1뤙부터 인식
select round(avg(attendtype),2)*100
from attend
where enrollno = (select enrollno from enroll where studentno=#{studentNo} and courseno=#{courseNo}) 
group by SUBSTR(coursedate, 1, 7)
</select> -->

<select id="AttendAvg" parameterType="hashmap" resultType="int">
select round(avg(attendtype),2)*100
from attend
where enrollno = (select enrollno from enroll where studentno=#{studentNo} and courseno=#{courseNo}) and SUBSTR(coursedate, 7, 1) like concat(#{month},'%')
group by SUBSTR(coursedate, 7, 1)
</select>



</mapper>